@{
	Layout = "_LayoutPage";
}
<div role="main" class="main">
	<section class="page-header page-header-modern bg-color-light-scale-1 page-header-lg">
		<div class="container">
			<div class="row">
				<div class="col-md-12 align-self-center p-static order-2 text-center">
					<h1 class="font-weight-bold text-dark">Çalıştığım Projelere Göz atın</h1>
				</div>
				<div class="col-md-12 align-self-center order-1">
					<ul class="breadcrumb d-block text-center">
						<li><a href="/">Ana Sayfa</a></li>
						<li class="active">Projelerim</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<div class="container py-4">

		<div class="row">
			<div class="col-md-7 order-2">
				<div class="overflow-hidden">
					<h2 class="text-color-dark font-weight-bold text-8 mb-0 pt-0 mt-0 appear-animation"
						data-appear-animation="maskUp" data-appear-animation-delay="300">Rona Auto Glass</h2>
				</div>
				<div class="overflow-hidden mb-3">
					<p class="font-weight-bold text-primary text-uppercase mb-0 appear-animation"
						data-appear-animation="maskUp" data-appear-animation-delay="500">Web Sitesi</p>
				</div>
				<p class="lead appear-animation" data-appear-animation="fadeInUpShorter"
					data-appear-animation-delay="700">Bu web sitesi, bireysel bir yazılım projesi olarak tarafımdan
					geliştirilmiştir. Tüm frontend ve backend kodlaması bana aittir. Proje kapsamında dinamik içerik
					yönetimi, mobil uyumluluk ve kullanıcı dostu arayüz gibi modern web teknolojileri kullanılmıştır.
				</p>
				<p class="pb-3 appear-animation" data-appear-animation="fadeInUpShorter"
					data-appear-animation-delay="800">Geliştirme sürecinde kullanıcı deneyimini ön planda tutarak sade
					ve işlevsel bir tasarım hedefledim. Bu proje, hem teknik yeteneklerimi sergilemek hem de portföyüme
					gerçek dünya senaryosuna uygun bir çalışma eklemek amacıyla hazırlanmıştır.</p>
				<hr class="solid my-4 appear-animation" data-appear-animation="fadeInUpShorter"
					data-appear-animation-delay="900">
				<div class="row align-items-center appear-animation" data-appear-animation="fadeInUpShorter"
					data-appear-animation-delay="1000">
					<div class="col-lg-6">
						<a href="https://ronaglass.com.tr/" target="_blank" class="btn btn-modern btn-dark mt-3">Web
							sitesine göz at</a>

					</div>
					@* <div class="col-sm-6 text-lg-end my-4 my-lg-0">
						<strong class="text-uppercase text-1 me-3 text-dark">follow me</strong>
						<ul class="social-icons float-lg-end">
							<li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
							<li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
							<li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
						</ul>
					</div> *@
				</div>
			</div>
			<div class="col-md-5 order-md-2 mb-4 mb-lg-0 appear-animation" data-appear-animation="fadeInRightShorter">
				<img src="img/ronaglass.png" class="img-fluid" style="box-shadow: 0px 10px 10px 0px black;">
			</div>
		</div>

		<div class="row">
			<div class="col">
				<hr class="solid my-5">
			</div>
		</div>

		<div class="row">
			<div class="col-md-5 order-md-2 mb-4 mb-lg-0 appear-animation" data-appear-animation="fadeInLeftShorter">
				<img src="img/totbid.png" class="img-fluid" alt="" style="box-shadow: 0px 10px 10px 0px black;">
			</div>
			<div class="col-md-7 order-2">
				<div class="overflow-hidden">
					<h2 class="text-color-dark font-weight-bold text-8 mb-0 pt-0 mt-0 appear-animation"
						data-appear-animation="maskUp" data-appear-animation-delay="300">Totbid Araştırma Dergisi</h2>
				</div>
				<div class="overflow-hidden mb-3">
					<p class="font-weight-bold text-primary text-uppercase mb-0 appear-animation"
						data-appear-animation="maskUp" data-appear-animation-delay="500">Web Sitesi</p>
				</div>
				<p class="lead appear-animation" data-appear-animation="fadeInUpShorter"
					data-appear-animation-delay="700">
				<p class="" data-start="239" data-end="611">Bu web sitesi, <strong data-start="296"
						data-end="354">TOTBİD (T&uuml;rk Ortopedi ve Travmatoloji Birliği Derneği)</strong>
					b&uuml;nyesinde yayımlanan <strong data-start="377" data-end="398">Araştırma Dergisi</strong>
					i&ccedil;in geliştirilen ger&ccedil;ek bir projedir. Akademisyenlerin makalelerini kolayca
					inceleyebileceği, g&ouml;nderi yapabileceği ve dergi i&ccedil;eriklerine ulaşabileceği bir dijital
					platform oluşturmak amacıyla geliştirilmektedir.</p>
				<p class="" data-start="613" data-end="752">Site halen <strong data-start="624" data-end="644">yapım
						aşamasında</strong> olup; t&uuml;m yazılım geliştirme s&uuml;re&ccedil;leri tarafımdan
					y&uuml;r&uuml;t&uuml;lmektedir. Projede kullanılan başlıca teknolojiler:</p>
				<ul data-start="754" data-end="903">
					<li class="" data-start="754" data-end="780">
						<p class="" data-start="756" data-end="780"><strong data-start="756"
								data-end="768">Backend:</strong> .NET Core</p>
					</li>
					<li class="" data-start="781" data-end="829">
						<p class="" data-start="783" data-end="829"><strong data-start="783"
								data-end="798">Veritabanı:</strong> Microsoft SQL Server (MSSQL)</p>
					</li>
					<li class="" data-start="830" data-end="869">
						<p class="" data-start="832" data-end="869"><strong data-start="832"
								data-end="845">Frontend:</strong> HTML, CSS, JavaScript</p>
					</li>
					<li class="" data-start="870" data-end="903">
						<p class="" data-start="872" data-end="903"><strong data-start="872" data-end="889">UI
								Framework:</strong> Bootstrap 5</p>
					</li>
				</ul>
				<p class="" data-start="905" data-end="1158">Geliştirme s&uuml;recinde kullanıcı deneyimi, g&uuml;venlik
					ve i&ccedil;erik y&ouml;netimi gibi konulara &ouml;ncelik verilmektedir. Bu proje, hem profesyonel
					anlamda kullanılacak bir &uuml;r&uuml;n ortaya koymak hem de teknik becerilerimi ileri taşımak
					amacıyla titizlikle y&uuml;r&uuml;t&uuml;lmektedir.</p>
				</p>
				<hr class="solid my-4 appear-animation" data-appear-animation="fadeInUpShorter"
					data-appear-animation-delay="900">
				<div class="row align-items-center appear-animation" data-appear-animation="fadeInUpShorter"
					data-appear-animation-delay="1000">
					<div class="col-lg-6">
						<a href="https://www.totbidarastirmadergisi.org/" target="_blank"
							class="btn btn-modern btn-dark mt-3">Web sitesine göz at</a>

					</div>
					@* <div class="col-sm-6 text-lg-end my-4 my-lg-0">
						<strong class="text-uppercase text-1 me-3 text-dark">follow me</strong>
						<ul class="social-icons float-lg-end">
							<li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
							<li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
							<li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
						</ul>
					</div> *@
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<hr class="solid my-5">
			</div>
		</div>

		<div class="row">
			<div class="col-md-7 order-2">
				<div class="overflow-hidden">
					<h2 class="text-color-dark font-weight-bold text-8 mb-0 pt-0 mt-0 appear-animation"
						data-appear-animation="maskUp" data-appear-animation-delay="300">Par Yapı</h2>
				</div>
				<div class="overflow-hidden mb-3">
					<p class="font-weight-bold text-primary text-uppercase mb-0 appear-animation"
						data-appear-animation="maskUp" data-appear-animation-delay="300">Web Sitesi</p>
				</div>
				<p class="lead appear-animation" data-appear-animation="fadeInUpShorter"
					data-appear-animation-delay="700">Bu web sitesi, Par Yapı firmasına özel olarak geliştirilen
					bir projedir. Firma hakkında bilgi vermeyi, tamamlanan ve devam eden projeleri sergilemeyi,
					potansiyel müşterilere ulaşmayı amaçlayan modern ve kullanıcı dostu bir dijital platform
					oluşturulmaktadır.</p>
				<p class="pb-3 appear-animation" data-appear-animation="fadeInUpShorter"
					data-appear-animation-delay="800">Projenin geliştirilmesinde mobil uyumluluk, içerik yönetim
					kolaylığı ve estetik tasarım ön planda tutulmuştur. Bu site, firmanın dijital yüzünü yansıtırken
					aynı zamanda yazılım geliştirme konusundaki profesyonel yetkinliğimi ortaya koymayı amaçlamaktadır.
				</p>
				<hr class="solid my-4 appear-animation" data-appear-animation="fadeInUpShorter"
					data-appear-animation-delay="900">
				<div class="row align-items-center appear-animation" data-appear-animation="fadeInUpShorter"
					data-appear-animation-delay="1000">
					<div class="col-lg-6">
						<a href="https://paryapi.com.tr/" target="_blank" class="btn btn-modern btn-dark mt-3">Web
							sitesine göz at</a>

					</div>
					@* <div class="col-sm-6 text-lg-end my-4 my-lg-0">
						<strong class="text-uppercase text-1 me-3 text-dark">follow me</strong>
						<ul class="social-icons float-lg-end">
							<li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
							<li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
							<li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
						</ul>
					</div> *@
				</div>
			</div>
			<div class="col-md-5 order-md-2 mb-4 mb-lg-0 appear-animation" data-appear-animation="fadeInRightShorter">
				<img src="img/paryapi.png" class="img-fluid" alt="" style="box-shadow: 0px 10px 10px 0px black;">
			</div>
		</div>

		<div class="row">
			<div class="col">
				<hr class="solid my-5">
			</div>
		</div>


		<div class="row">
			<div class="col-md-5 order-md-2 mb-4 mb-lg-0 appear-animation" data-appear-animation="fadeInLeftShorter">
				<img src="img/altinhane.png" class="img-fluid" alt="" style="box-shadow: 0px 10px 10px 0px black;">
			</div>
			<div class="col-md-7 order-2">
				<div class="overflow-hidden">
					<h2 class="text-color-dark font-weight-bold text-8 mb-0 pt-0 mt-0 appear-animation"
						data-appear-animation="maskUp" data-appear-animation-delay="300">Altınhane Villaları</h2>
				</div>
				<div class="overflow-hidden mb-3">
					<p class="font-weight-bold text-primary text-uppercase mb-0 appear-animation"
						data-appear-animation="maskUp" data-appear-animation-delay="500">Web Sitesi</p>
				</div>
				<p class="lead appear-animation" data-appear-animation="fadeInUpShorter"
					data-appear-animation-delay="700">Bu web sitesi, Altınhane Villaları konut projesi için özel olarak
					geliştirilen bir yazılım projesidir. Lüks villa konseptini tanıtmak, projeye dair detaylı
					bilgi sunmak ve potansiyel alıcılarla etkili bir dijital iletişim kurmak amacıyla hazırlanmaktadır.
				</p>
				<p class="pb-3 appear-animation" data-appear-animation="fadeInUpShorter"
					data-appear-animation-delay="800">Geliştirme sürecinde özellikle görsel sunum gücü yüksek, hızlı
					çalışan ve mobil cihazlara tam uyumlu bir yapı hedeflenmiştir. Bu proje, hem konut sektörüne hitap
					eden profesyonel bir web çözümü sunmak hem de yazılım geliştirme becerilerimi gerçek bir çalışma
					üzerinden ortaya koymak amacıyla hayata geçirilmektedir.</p>
				<hr class="solid my-4 appear-animation" data-appear-animation="fadeInUpShorter"
					data-appear-animation-delay="900">
				<div class="row align-items-center appear-animation" data-appear-animation="fadeInUpShorter"
					data-appear-animation-delay="1000">
					<div class="col-lg-6">
						<a href="https://altinhanevillalari.com/" target="_blank"
							class="btn btn-modern btn-dark mt-3">Web sitesine göz at</a>

					</div>
					@* <div class="col-sm-6 text-lg-end my-4 my-lg-0">
						<strong class="text-uppercase text-1 me-3 text-dark">follow me</strong>
						<ul class="social-icons float-lg-end">
							<li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
							<li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
							<li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
						</ul>
					</div> *@
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<hr class="solid my-5">
			</div>
		</div>

		<div class="row">
			<div class="col-md-7 order-2">
				<div class="overflow-hidden">
					<h2 class="text-color-dark font-weight-bold text-8 mb-0 pt-0 mt-0 appear-animation"
						data-appear-animation="maskUp" data-appear-animation-delay="300">ADA IOS Uygulaması</h2>
				</div>
				<div class="overflow-hidden mb-3">
					<p class="font-weight-bold text-primary text-uppercase mb-0 appear-animation"
						data-appear-animation="maskUp" data-appear-animation-delay="300">Mobil Uygulama</p>
				</div>
				<p class="lead appear-animation" data-appear-animation="fadeInUpShorter"
					data-appear-animation-delay="700">
				<p class="" data-start="120" data-end="407"><strong data-start="147" data-end="154">ADA</strong>, deprem
					anında ve sonrasında kullanıcıların g&uuml;venliğini artırmayı hedefleyen, ger&ccedil;ek bir mobil
					uygulama projesidir. Uygulama halen <strong data-start="286" data-end="314">geliştirme
						aşamasındadır</strong> ve t&uuml;m yazılım s&uuml;reci (aray&uuml;z, veri bağlantıları, sunucu
					tarafı) tarafımdan y&uuml;r&uuml;t&uuml;lmektedir.</p>
				<p class="" data-start="409" data-end="628">ADA'nın amacı, kullanıcıların konumlarına g&ouml;re hızlı
					uyarılar alabilmesi, acil durum bilgilerinin paylaşılması ve g&uuml;venli toplanma alanlarına
					kolayca erişim sağlayabilmesidir. Uygulamada kullanılan başlıca teknolojiler:</p>
				<ul data-start="630" data-end="911">
					<li class="" data-start="630" data-end="669">
						<p class="" data-start="632" data-end="669"><strong data-start="632" data-end="653">Mobil
								Geliştirme:</strong> SwiftUI (iOS)</p>
					</li>
					<li class="" data-start="670" data-end="704">
						<p class="" data-start="672" data-end="704"><strong data-start="672"
								data-end="684">Backend:</strong> .NET Core Web API</p>
					</li>
					<li class="" data-start="705" data-end="730">
						<p class="" data-start="707" data-end="730"><strong data-start="707"
								data-end="722">Veritabanı:</strong> MSSQL</p>
					</li>
					<li class="" data-start="731" data-end="816">
						<p class="" data-start="733" data-end="816"><strong data-start="733" data-end="766">Bildirim ve
								Konum Servisleri:</strong> Ger&ccedil;ek zamanlı konum takibi ve uyarı sistemleri</p>
					</li>
					<li class="" data-start="817" data-end="911">
						<p class="" data-start="819" data-end="911"><strong data-start="819"
								data-end="830">Aray&uuml;z:</strong> Modern, sade ve kriz anında kolay kullanılabilir
							olacak şekilde tasarlanmıştır</p>
					</li>
				</ul>
				<p class="" data-start="913" data-end="1184">Bu proje, deprem gibi afet anlarında kullanıcıların hızlı
					ve g&uuml;venilir bilgiye ulaşmasını sağlamak amacıyla geliştirilmektedir. Aynı zamanda, profesyonel
					mobil yazılım geliştirme alanındaki bilgi ve becerilerimi ger&ccedil;ek bir ihtiya&ccedil;
					&uuml;zerinden sergileme fırsatı sunmaktadır.</p>
				</p>
				<hr class="solid my-4 appear-animation" data-appear-animation="fadeInUpShorter"
					data-appear-animation-delay="900">

			</div>
			<div class="col-md-5 order-md-2 mb-4 mb-lg-0 appear-animation" data-appear-animation="fadeInRightShorter">


				<div class="ratio ratio-4x3">
					<video width="100%" height="100%" controls muted loop autoplay preload="metadata"
						poster="video/presentation.jpg" style="background-color: black;">
						<source src="video/ada.mp4" type="video/webm">
					</video>
				</div>

			</div>
		</div>


		<div class="row">
			<div class="col">
				<hr class="solid my-5">
			</div>
		</div>

		<div class="row">
			<div class="col-md-5 order-md-2 mb-4 mb-lg-0 appear-animation" data-appear-animation="fadeInRightShorter">


				<div class="ratio ratio-4x3">
					<video width="100%" height="100%" controls muted loop autoplay preload="metadata"
						poster="video/presentation.jpg" style="background-color: black;">
						<source src="video/e-commerce.mp4" type="video/webm">
					</video>
				</div>

			</div>
			<div class="col-md-7 order-2">
	<div class="overflow-hidden">
		<h2 class="text-color-dark font-weight-bold text-8 mb-0 pt-0 mt-0 appear-animation"
			data-appear-animation="maskUp" data-appear-animation-delay="300">E-Ticaret</h2>
	</div>
	<div class="overflow-hidden mb-3">
		<p class="font-weight-bold text-primary text-uppercase mb-0 appear-animation"
			data-appear-animation="maskUp" data-appear-animation-delay="500">Web Sitesi</p>
	</div>
	<p class="lead appear-animation" data-appear-animation="fadeInUpShorter"
		data-appear-animation-delay="700">Bu web sitesi, bireysel olarak üzerinde çalıştığım ve hala geliştirme aşamasında olan bir e-ticaret projesidir. Ürün listeleme, kullanıcı işlemleri ve sipariş adımlarına odaklanan temel bir altyapı oluşturmayı hedeflemekteyim.</p>
	<p class="pb-3 appear-animation" data-appear-animation="fadeInUpShorter"
		data-appear-animation-delay="800">Projede özellikle backend geliştirmeye odaklandım. Veritabanı işlemleri gibi sunucu tarafı işlevleri kendi başıma geliştiriyorum. Proje, temel kullanıcı tarafı işlevlerle sade bir şekilde ilerlemektedir.</p>
	<hr class="solid my-4 appear-animation" data-appear-animation="fadeInUpShorter"
		data-appear-animation-delay="900">
</div>




		</div>

		<div class="row">
			<div class="col">
				<hr class="solid my-5">
			</div>
		</div>
	</div>


	@* <section class="call-to-action call-to-action-default with-button-arrow content-align-center call-to-action-in-footer call-to-action-in-footer-margin-top">
		<div class="container">
			<div class="row">
				<div class="col-md-9 col-lg-9">
					<div class="call-to-action-content">
						<h2 class="font-weight-normal text-6 mb-0">Porto is <strong class="font-weight-extra-bold">everything</strong> you need to create an <strong class="font-weight-extra-bold">awesome</strong> website!</h2>
						<p class="mb-0">The Best HTML Site Template on ThemeForest</p>
					</div>
				</div>
				<div class="col-md-3 col-lg-3">
					<div class="call-to-action-btn">
						<a href="http://themeforest.net/item/porto-responsive-html5-template/4106987" target="_blank" class="btn btn-dark btn-lg text-3 font-weight-semibold px-4 py-3">Get Started Now</a><span class="arrow hlb d-none d-md-block" data-appear-animation="rotateInUpLeft" style="top: -40px; left: 70%;"></span>
					</div>
				</div>
			</div>
		</div>
	</section> *@
</div>